#about-title {
    margin-bottom: 75px;
}


.about-image {
    background: url(../images/MP.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    // height: 50vw;
}

.about {
    padding-top: 50px;
}
