// form {
//     max-width: 450px;
//     margin: 0 auto 50px;
//         label {
//         display: block;
//         margin-bottom: 20px;
//         }
//             span {
//             display: block;
//             }
// }
//
// .contact-info {
//     label {
//         width: 58%;
//         margin-right: 2%;
//         float: left;
//     }
// }

.contact {
    margin-bottom: 75px;
}

.contact-container {
    margin-top: 50px;
}

#contact-title {
    margin-bottom: 75px;
}
