footer {
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
}

.social-link:not(:first-of-type)::before {
    content: '|';
    display: inline-block;
    color: transparentize(black, 0.4);
}

.social-link a {
    color: black;
    display: inline-block;
    margin: 0 20px 0 20px;
}
