#projects-title {
    margin-bottom: 75px;
}

.project-title {
    margin-bottom: 20px;
}

.projects {
    padding-top: 50px;
}

img {
    height: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project-ss {
    font-size: 25px;
    font-family: "Croissant One", cursive;
}

.project-ciclo {
    font-size: 25px;
    // font-family: "Croissant One", cursive;
}
